/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main>.container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.profile-img {
    border-radius: 50%;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.profile-card {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.footer-profile {
    margin-bottom: 0px;
}

.profile-title {
    padding-left: 10px;
}

.text-profile {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-profile-bottom {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-social {
    margin-bottom: 0px;
}

.text-social-bottom {
    margin-bottom: 10px;
}

.card-text {
    text-align: justify;
}

.card-footer {
    padding-left: 10px;
    padding-right: 10px;
}